<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <custom-accordion icon="plus" *ngFor="let type of types">
        <span slot="header">{{type.nombre}}</span>
        <span slot="details">
          <app-product [data]="child" *ngFor="let child of type.children" ></app-product>
        </span>
    </custom-accordion>

    <app-accordion-container>
        <app-accordion-item [item]="type" *ngFor="let type of types">
            <app-accordion-header [item]="type">
                {{type.nombre}}
            </app-accordion-header>
            <app-accordion-content>
                <app-product [data]="child" *ngFor="let child of type.children"></app-product>
            </app-accordion-content>
        </app-accordion-item>
    </app-accordion-container>

</ion-content>