<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/tab1/subpage1">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Documentos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-router-outlet>
    </ion-router-outlet>
</ion-content>

<ion-footer>
    <ion-button routerLink="/tabs/tab1/subpage1">Tab 1</ion-button>
    <ion-button routerLink="/tabs/tab1/subpage2">Tab 2</ion-button>
</ion-footer>